* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-color: rgb(27, 29, 30);
}

header {
  background-color: rgb(38, 42, 43);
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.label {
  color: #ffaf4b;
  font-family: 'Bungee Outline', cursive;  
  font-size: 48px;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: glowing 2s ease-in-out infinite;
  letter-spacing: 15px;
  cursor: pointer;
  user-select: none;
}

/* label media queries */
@media (max-width: 704px){
  .label{
    font-size: 36px;
    letter-spacing: 14px;
  }
}
@media (max-width: 640px){
  .label{
    font-size: 30px;
    letter-spacing: 13px;
  }
}
@media (max-width: 534px){
  .label{
    font-size: 24px;
    letter-spacing: 12px;
  }
}
@media (max-width: 440px){
  .label{
    font-size: 20px;
    letter-spacing: 8px;
  }
}

/* label animation */
@keyframes glowing {
  0% {
    text-shadow: 0 0 6px #ffaf4b, 0 0 8px #ffaf4b, 0 0 10px #ffaf4b, 0 0 12px #ffaf4b, 0 0 14px #ffaf4b, 0 0 16px #ffaf4b;
  }
  50% {
    text-shadow: 0 0 12px #ffaf4b, 0 0 14px #ffaf4b, 0 0 16px #ffaf4b, 0 0 18px #ffaf4b, 0 0 20px #ffaf4b, 0 0 22px #ffaf4b;
  }
  100% {
    text-shadow: 0 0 6px #ffaf4b, 0 0 8px #ffaf4b, 0 0 10px #ffaf4b, 0 0 12px #ffaf4b, 0 0 14px #ffaf4b, 0 0 16px #ffaf4b;
  }
}

/* movies */
#main {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.movie {
  background-color: rgb(34, 36, 38);
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-info {
  margin-top: 10px;
}

.movie-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.movie-info span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.overview {
  margin-top: 10px;
}

.overview h3 {
  font-size: 16px;
  margin-bottom: 5px;
}


/* footer */
footer {
  display: none;
  color: #fff;
  text-align: center;
  /* height: 25px; */
}

footer img {
  height: 24px;
	filter: brightness(0) invert(1);
}


/* Browser's scroll bar modifications */
::-webkit-scrollbar {
  width: 10px; 
  background-color: #202324 !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(57, 63, 64);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #90A4AE;
} 


/* Spinner Animation */
@keyframes spinner {
  0% {
      opacity: 1
  }

  100% {
      opacity: 0
  }
}

.loading-spinner {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner div {
  box-sizing: content-box;
}

.spinner div {
  top: 48px;
  position: absolute;
  animation: spinner linear 1s infinite;
  background: #ffaf4b;
  width: 12px;
  height: 24px;
  border-radius: 4.5600000000000005px / 4.5600000000000005px;
  transform-origin: 6px 52px;
}

.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #ffaf4b;
}

.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #ffaf4b;
}

.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #ffaf4b;
}

.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #ffaf4b;
}

.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #ffaf4b;
}

.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #ffaf4b;
}

.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #ffaf4b;
}

.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #ffaf4b;
}

.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #ffaf4b;
}

.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #ffaf4b;
}

.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #ffaf4b;
}

.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #ffaf4b;
}
/* generated by https://loading.io/ */
